<?php
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', 'kngo_toiden_hvqy_dev');

/** MySQL database username */
define('DB_USER', 'root');

/** MySQL database password */
define('DB_PASSWORD', 'vietpointer');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '6< }!F`0>7s4rTcTfa:>RVSf)^4xcc{?>E;hMPt|[(V2g(t`Z:-4=d]^GluX|I|W');
define('SECURE_AUTH_KEY',  'jfRndC>Gl9U~$.1bV00RI@;QyV ) ~[e/$D:.I8^ezZX#J#c.%--P[LO% yyH=s<');
define('LOGGED_IN_KEY',    '!ZvmE>P_0m0-Fi)mMN T}rs)=E2Eja.W>$+1[p6d/?f)?>0u+>-;=+c7Aerw7XwV');
define('NONCE_KEY',        'g+/&%ZELNMVDk5-&8o5[^D(O-})aI3IQ04!|=:o|.O^2#E_t-q{6Z7Y<8@Ntb-c=');
define('AUTH_SALT',        '0t8+K43h9]a{|i+k[)G+P|[XrWW@Fjh<FT^6~t-8albF,O1-&&%l++7f/+JR?jR]');
define('SECURE_AUTH_SALT', 'U^CUS6-~ZX/+Y_xJR^|)*3z>+.aM|W<fF+`-{F5+-{n6?PC-<GTEfUd=P@@{p^Sl');
define('LOGGED_IN_SALT',   '~l0TRrnW(.tkSPnj`KC2qjM-6`BL>%>Zry&_|=A@HhCI+FbCEbFP$BN:awr?Ijp!');
define('NONCE_SALT',       'Hc[Sn0-`G3BUL;mVbJYZuaV(&KM!yu+aHDGg+.+Tv||KO0r=n6q[VqzIXlowByYf');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');

